# do not commit dependencies or built files
node_modules/
dist/
build/

# do not commit local or individualized config files
.envrc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.editorconfig
.node-version
.tool-versions
.cache/
.vscode/

# do not commit log, ephemeral, or system files
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*